
# dependencies
/IdentityCoreApp/bin
/IdentityCoreApp/obj

/IdentityCoreApp.Application/bin
/IdentityCoreApp.Application/obj

/IdentityCoreApp.Data/bin
/IdentityCoreApp.Data/obj

/IdentityCoreApp.Data.EF/bin
/IdentityCoreApp.Data.EF/obj

/IdentityCoreApp.Infrastructure/bin
/IdentityCoreApp.Infrastructure/obj

/IdentityCoreApp.Utilities/bin
/IdentityCoreApp.Utilities/obj

.vs/