
@{
    ViewData["Title"] = "Index";
}

@section Scripts{
    <script src="~/app/Controller/user/index.js"></script>
    <script>
        var userObject = UserController();
        userObject.initialize();
    </script>
}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="dataTables_wrapper row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                    Total record count: <strong id="lbl-total-records"></strong>
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate" id="datatable-checkbox_paginate">
                    <ul class="pagination" id="paginationUL"></ul>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>FullName</th>
                        <th>PhoneNumber</th>
                        <th>Address</th>
                        <th>Avatar</th>
                        <th>Date created</th>
                        <th width="10%"></th>
                    </tr>
                </thead>
                <tbody id="tbl-content"></tbody>

            </table>
        </div>
        <div class="dataTables_wrapper row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                    Total record count: <strong id="lbl-total-records"></strong>
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate" id="datatable-checkbox_paginate">
                    <ul class="pagination" id="paginationUL"></ul>
                </div>
            </div>
        </div>

    </div>
</div>

<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <td>{{Email}}</td>
        <td>{{FullName}}</td>
        <td>{{{PhoneNumber}}}</td>
        <td>{{{Address}}}</td>
        <td>{{{Avatar}}}</td>
        <td>{{{DateCreated}}}</td>
        <td>
            <a href="#" data-id="{{Id}}" class="btn btn-warning btn-sm btn-edit"><i class="fa fa-eye"></i></a>
            <a href="#" data-id="{{Id}}" class="btn btn-danger btn-sm btn-delete"><i class="fa fa-trash"></i></a>
        </td>
    </tr>
</script>


