@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<div class="row">
    <div class="col-lg-6">
        <!-- Circle Buttons -->
        <form id="frmAccount" asp-action="ChangePassword" method="post">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Thay đổi mật khẩu</h6>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Current password</label>
                        <input type="password" name="OldPassword" asp-for="OldPassword" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">New password</label>
                        <input asp-for="NewPassword" name="NewPassword" type="password" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nhập lại mật khẩu</label>
                        <input type="password" name="ConfirmPassword" asp-for="ConfirmPassword" class="form-control">
                    </div>
                    @if ((bool)ViewData["Success"] == true)
                    {
                        <div class="alert alert-success" role="alert">
                            Change password success.
                        </div>
                    }
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>




